*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.feature-heading{
    width:100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-title{
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
    border: 2px solid black;
}
.desktop-feature{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:50px;
    padding: 0 10%;
}
.desktop-h3{
    font-size: 15px;
}
.desktop-featone{
    width: 100%;
    border: 1px solid black;
    height: 50vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.desktop-feattext{
    font-size: 14px;
}
.mobile-feattext{
    font-size: 13px;
}
.deskimage{
    width: 100%;
    height: 100%;
}
.mobimage{
    width: 100%;
    height: 100%;
}
.mobile-feature{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
    padding: 0 19%;
}
.mobile-featone{
    width: 100%;
    border: 1px solid black;
    height: 280px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 30px;
}
.mobile-h3{
    font-size: 14px;
}
.mobile-feat{
    display: none;
}
@media screen and (max-width:900px) {
    .desktop-feature{
        display: none;
    }
    .mobile-feat{
        display: block;
    }
}