*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homebtn{
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        color: #fff;
        text-align: center;
        font-size: 30px;
        z-index: 100;
        cursor: pointer;
}
.arbtn{
    padding: 15px 10px;
    background-color: blue;
    color: white;
    border: 2px solid white;
    transition: 2s;
}